@use "../media-queries.scss" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex {
  display: flex;
}

%col {
  flex-direction: column;
}

%row {
  flex-direction: row;
}

/* base classes */

.glInput {
  font-family: "Inter";
  width: 250px;
  border: none;
  background-image: none;
  background-color: transparent;
  color: transparent;
  caret-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  caret-color: transparent;
  outline: 0;
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.invalid-feedback {
  color: var(--clr-signal-red-200);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  @extend %flex, %col;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border-radius: 2px;
  &button {
    @include mq(medium) {
      margin-right: auto;
    }
  }
  &.login {
    align-items: center;
  }
}

.form-wrapper {
  @extend %flex-center;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: var(--space-s);
  text-align: left;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

form {
  @extend %flex-center;
  gap: 1rem;
  margin: 0 auto 0 0;
  padding: 1rem 0;
  flex-direction: column;
  width: 100%;
  margin: 0;
  min-width: 250px;
  color: var(--clr-contrast-100);
}

form div {
  position: relative;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Beudeutet, dass solange der user am tippen ist, orange angezeigt wird, sobald ein Wert erreicht wird,
// der valide ist wechselt die border color zu green, ansonsten wird red angezeigt
form :is(#email, #name, #password) {
  max-width: 350px;
  &:not(:placeholder-shown):valid {
    border-color: rgb(0, 184, 31);
  }
  &:not(:placeholder-shown):invalid {
    border-color: rgb(255, 0, 0);
  }
  &:focus:invalid {
    border-color: rgb(255, 153, 0);
  }
}

form :is(label, select, input, textarea, .input) {
  font-family: sans-serif;
  position: relative;
  line-height: 1.5;
  text-align: left;
  outline: none;
  margin: 0;
  width: 100%;
}

form .input {
  display: grid;
}

form label {
  @extend %flex, %col;
  align-items: flex-start;
  padding-bottom: var(--space-xs);
  font-size: clamp(0.75rem, 10vw, 1.05rem);
  color: var(--clr-contrast-700);
  font-weight: 600;
  font-family: sans-serif;
  width: 100%;
  &[aria-label="password"],
  &[aria-label="email"] {
    max-width: 300px;
  }
}

form :is(input, select, textarea) {
  padding: var(--space-xs) var(--space-s);
  font-size: var(--fs-text);
  background-color: hsl(0, 0%, 2%);
  border: 1px solid hsl(0, 0%, 9%);
  color: var(--clr-contrast-400);
  font-weight: 500;
  border-radius: 6px;
}

form input:active {
  background-color: #0a0b0c;
}

form input:focus-visible,
textarea:focus-visible {
  border: 1px solid var(--clr-contrast-700);
  background-color: #0a0b0c;
  color: var(--clr-contrast-100);
}

form .btn-group {
  @extend %flex-center;
  width: 100%;
}

form a {
  margin: 1rem auto 0 0;
}

form button {
  outline: none;
  border-radius: 2px;
  width: 100%;
  max-width: 300px;
}

form .btn-group .btn-group:nth-child(n + 2) {
  margin-left: 1rem;
}

.error {
  border: 2px solid var(--clr-signal-red-100) !important;
  color: var(--clr-signal-red-100);
}

.help-block {
  border: none !important;
  border-bottom: 2px dotted var(--clr-signal-red-100);
  color: var(--clr-signal-red-100);
}

.thanks__message {
  @extend %flex-center;
  align-items: flex-start;
  min-height: 300px;
  gap: 1rem;
  display: none;
  flex-direction: column;
  text-align: left;
  width: 100%;
  font-size: var(--fs-sub-big);
  h3 {
    font-size: var(--fs-text);
  }
}

section.form-section {
  padding-top: 100px;
}
