$colors: (
  blue: (
    100: hsl(214, 50%, 84%),
    200: hsl(215, 50%, 74%),
    main: hsl(214, 50%, 42%),
    400: hsl(214, 50%, 34%),
    500: hsl(214, 50%, 22%),
  ),
  white: (
    main: hsl(97, 100%, 97%),
  ),
  ice: (
    100: hsl(180, 96%, 92%),
    main: hsl(180, 96%, 81%),
    300: hsl(180, 96%, 48%),
    400: hsl(180, 96%, 31%),
    500: hsl(180, 96%, 22%),
    600: hsl(180, 96%, 8%),
  ),
  verdigris: (
    100: hsl(182, 60%, 82%),
    200: hsl(182, 60%, 72%),
    300: hsl(182, 60%, 61%),
    400: hsl(182, 60%, 51%),
    main: hsl(182, 60%, 41%),
    600: hsl(182, 60%, 22%),
  ),

  green-yellow: (
    100: hsl(78, 82%, 82%),
    200: hsl(78, 82%, 72%),
    main: hsl(78, 82%, 61%),
    400: hsl(78, 82%, 51%),
    500: hsl(78, 82%, 41%),
    600: hsl(78, 82%, 22%),
  ),
  contrast: (
    100: hsl(0, 0%, 97%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 18%),
    750: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 5%),
  ),
);
